:root {
  --blue-color: #4ea8de;
  --blueDark-color: #1e6f9f;
  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;
  --gray-400: #333333;
  --purple-color: #8284fa;
  --purpleDark-color: #5e60ce;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  border: 3px solid red;
  background: var(--Gray-600, #1a1a1a);
}
